@import 'base/variable';

@import 'base/header';
@import 'base/searchBar';

h2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 35px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  @media (max-width: 425px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    right: 1px;
  }
  @media (max-width: 425px) {
    .color-word1 {
      display: block;
      margin-bottom: 0px;
      margin-right: 12px;
    }
  }
  @media (max-width: 425px) {
    .data-box__flag {
      margin-bottom: 20px;
      width: 191px;
    }
  }
  @media (max-width: 360px) {
    .data-box__flag {
      margin-bottom: 20px;
      width: 191px;
    }
  }
}

.main {
  background-color: #ffffff;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: $z-index-2;

  @media (max-width: 1100px) {
    padding: 0 10px;
  }
  @media (max-width: 866px) {
    padding: 0 10px;
  }
  @media (max-width: 425px) {
    padding: 0 20px;
  }

  display: flex;
  margin: auto;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}
.container1 {
  max-width: 100%;
  margin: auto;
  padding-bottom: 97px;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  font-family: 'Open Sans';
  margin-top: 60px;
  padding: 0 0px 0px 4px;
  @media (max-width: 425px) {
    margin-right: 28px;
    margin-top: 95px;
  }

  .icon-offer:before {
    content: '\e914';
    font-size: 30px;
    color: $color-primary-dark;
    @media (max-width: 425px) {
      flex-direction: column;
      order: -1;
      position: relative;
      top: -64px;
      right: -107px;
    }
  }
}
.color-word1 {
  color: $color-primary-dark;
  padding-left: 6px;
}
.row1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(200px, auto);
  gap: 23px;
  left: 1px;
  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(300px, auto);
  }
  @media screen and (max-width: 760px) {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(300px, auto);
  }
}
.col,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 10%);
  border-radius: 11px;
  width: 380px;
}
@media (max-width: 360px) {
  .col-2 {
    margin-bottom: -8px;
    width: 319px;
  }
  .col {
    margin-bottom: -6px;
    width: 319px;
  }
  .col-3,
  .col-4,
  .col-5,
  .col-6 {
    width: 319px;
  }
}
.icon-clock {
  content: '\e907';
  font-size: 14px;
  width: 15px;
  margin: 10px 8px 9px 8px;
  justify-content: left;
  color: white;
}
.date,
.date-2,
.date-3,
.date-4,
.date-5,
.date-6 {
  display: flex;
  position: absolute;
  color: #ffffff;
  width: 140px;
  height: 33px;
  align-items: center;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  background-color: #0000007a;
  border-radius: 6px;
  white-space: nowrap;
  border-radius: 6px;
  left: 4.69%;
  right: 59.1%;
  bottom: 28.48%;
  @media (max-width: 1250px) {
    top: 59%;
  }
  @media (max-width: 1024px) {
    top: 57%;
    bottom: 30.63%;
  }
  @media (max-width: 360px) {
    top: 208px;
    bottom: 30.63%;
    width: 121px;
    left: 8px;
    height: 31px;
  }
  @media (max-width: 330px) {
    top: 50%;
    bottom: 30.63%;
  }
}
@media (max-width: 360px) {
  .date-2 {
    top: 205px;
  }
}

.price-tag {
  position: absolute;
  right: 0px;
  top: 30px;

  @media (max-width: 360px) {
    top: 24px;
    padding: 5px 5px;
  }
}
.img1 {
  width: 100%;
  display: block;
  margin-bottom: 80px;
  @media (max-width: 360px) {
    margin-bottom: 44px;
    width: 100%;
    height: 253px;
  }
}
.price-tag2,
.price-tag-2,
.price-tag-3,
.price-tag-4,
.price-tag-5,
.price-tag-6 {
  display: none;
}
@media (max-width: 360px) {
  .price-tag2,
  .price-tag-2,
  .price-tag-3,
  .price-tag-4,
  .price-tag-5,
  .price-tag-6 {
    display: block;
    right: -124px;
    top: -265px;
  }
  .price-tag {
    display: none;
  }
}
.caption,
.caption1,
.caption3,
.caption4 {
  position: absolute;
  left: 24px;
  right: 40.82%;
  top: 267px;
  bottom: 12.16%;
  font-weight: 400;
  line-height: 150%;
  color: #222222;
  font-family: 'Open Sans';
  font-size: 16px;
  white-space: nowrap;
  margin-bottom: 80px;
}
.caption {
  top: 265px;
}
@media (max-width: 360px) {
  .caption {
    top: 268px;
    left: 17px;
  }
  .caption1 {
    top: 270px;
    left: 17px;
  }
  .caption3 {
    top: 267px;
    left: 17px;
  }
  .caption4 {
    left: 17px;
  }
}

.image-container {
  position: relative;
  display: inline-block;
}

@media (max-width: 360px) {
  .date {
    top: 207px;
  }
  .date-2 {
  }
  .date-3 {
    top: 204px;
  }
  .date-4 {
    top: 207px;
  }
  .date-5 {
    top: 205px;
  }
  .date-6 {
    top: 206px;
  }
  .price-tag2 {
  }
  .price-tag-2 {
    top: -267px;
  }
  .price-tag-3 {
    top: -268px;
  }
  .price-tag-4 {
  }
  .price-tag-5 {
    top: -267px;
  }
  .price-tag-6 {
    top: -266px;
  }
  .col-4 {
    margin-top: -10px;
  }
  .col-5 {
    margin-top: -7px;
  }
  .col-6 {
    margin-top: -10px;
  }
  .footer__container {
    padding: 42px 0 0 18px;
  }
  .footer__contacts {
    padding-left: 0;
    padding-right: 0;
  }
  .footer__contacts-title {
    padding-left: 5px;
  }
  .footer__contacts-subtitle {
    padding-left: 5px;
  }
  .footer__time {
    margin-top: 21px;
  }
  .footer__time span {
    padding-right: 21px;
  }
  .footer__place {
    margin-top: 24px;
  }
  .footer__place span {
    padding-right: 14px;
    margin: 0 0 0px 7px;
  }
  .footer__tel {
    margin-top: 28px;
  }
  .footer__tel span {
    padding: 1px 15px 0px 8px;
  }
  .footer__email span {
    padding: 0 14px 0 7px;
  }
}
@media (max-width: 1366px) {
  .date-4,
  .date-5,
  .date-6 {
    bottom: 97px;
  }
  .footer__place span,
  .footer__time span {
    padding-right: 22px;
    color: #3e7739;
    font-size: 20px;
    opacity: 0.5;
    margin: 0px 12px 2px 3px;
  }
  .footer__place span {
    margin: 0 0px 2px 3px;
  }
}
@import 'base/footer';
